---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Simple Omelette Recipe">
  <article>
    <header>
      <div class="img-container">
        <img
          src="/image-omelette.jpeg"
          width="600px"
          height="300px"
          alt="Simple Omelette Recipe"
        />
        <!-- width="650px" height="300px" -->
      </div>
      <div class="p-20">
        <h2>Simple Omelette Recipe</h2>
        <p>
          An easy and quick dish, perfect for any meal. This classic omelette
          combines beaten eggs cooked to perfection, optionally filled with your
          choice of cheese, vegetables, or meats.
        </p>
      </div>
    </header>
    <div class="article-body py-20">
      <section class="preparation-section">
        <h4>Preparation time</h4>
        <ul>
          <li>
            <p><span>Total:</span> Approximately 10 minutes</p>
          </li>
          <li>
            <p><span>Preparation:</span> 5 minutes</p>
          </li>
          <li>
            <p><span>Cooking:</span> 5 minutes</p>
          </li>
        </ul>
      </section>
      <section class="line">
        <h3>Ingredients</h3>
        <ul>
          <li>2-3 large eggs</li>
          <li>Salt, to taste</li>
          <li>Pepper, to taste</li>
          <li>1 tablespoon of butter or oil</li>
          <li>
            Optional fillings: cheese, diced vegetables, cooked meats, herbs
          </li>
        </ul>
      </section>
      <section class="line">
        <h3>Instructions</h3>
        <ol>
          <li>
            <span>Beat the eggs</span>: In a bowl, beat the eggs with a pinch of
            salt and pepper until they are well mixed. You can add a tablespoon
            of water or milk for a fluffier texture.
          </li>

          <li>
            <span>Heat the pan</span>: Place a non-stick frying pan over medium
            heat and add butter or oil.
          </li>

          <li>
            <span>Cook the omelette</span>: Once the butter is melted and
            bubbling, pour in the eggs. Tilt the pan to ensure the eggs evenly
            coat the surface.
          </li>

          <li>
            <span>Add fillings (optional)</span>: When the eggs begin to set at
            the edges but are still slightly runny in the middle, sprinkle your
            chosen fillings over one half of the omelette.
          </li>

          <li>
            <span>Fold and serve </span>: As the omelette continues to cook,
            carefully lift one edge and fold it over the fillings. Let it cook
            for another minute, then slide it onto a plate.
          </li>

          <li>
            <span>Enjoy</span>: Serve hot, with additional salt and pepper if
            needed.
          </li>
        </ol>
      </section>
      <section class="line">
        <h3>Nutrition</h3>
        <p>
          The table below shows nutritional values per serving without the
          additional fillings.
        </p>
        <div class="table-container">
          <div class="table">
            <div class="row">
              <div><p>Calories</p></div>
              <div><span>277kcal</span></div>
            </div>
            <div class="row">
              <div><p>Carbs</p></div>
              <div><span>0g</span></div>
            </div>
            <div class="row">
              <div><p>Protein</p></div>
              <div><span>20g</span></div>
            </div>
            <div class="row">
              <div><p>Fat</p></div>
              <div><span>22g</span></div>
            </div>
          </div>
        </div>
        <footer class="attribution">
          Challenge by <a
            href="https://www.frontendmentor.io?ref=challenge"
            target="_blank">Frontend Mentor</a
          >. Coded by <a href="#">Your Name Here</a>.
        </footer>
      </section>
    </div>

    <style>
      .row span {
        color: var(--clr-primary);
      }

      .row p {
        margin: 0;
      }

      .table-container {
        display: flex;
        justify-content: center;
      }
      .row {
        display: flex;
        gap: 10px;
      }
      .table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
      article {
        width: 640px;
        background-color: var(--clr-neutral-white);
        border-radius: 20px;
      }

      li p {
        left: -10px;
      }
      span {
        font-weight: bold;
      }
      .img-container {
        border-radius: 20px;
        padding: 20px;
      }

      .line {
        border-bottom: 1px solid var(--clr-neutral-light-grey);
      }
      h3 {
        color: var(--clr-primary);
      }
      h2 {
        font-family: "Young Serif";
        margin: 0;
        font-size: 30px;
        font-weight: 500;
      }
      img {
        border-radius: 10px;
      }
      .p-20 {
        padding: 20px;
      }
      .py-20 {
        padding: 0 20px;
      }

      .preparation-section {
        background: var(--clr-neutral-rose-white);
        padding: 20px;
      }

      .preparation-section h4 {
        color: var(--clr-secondary);
        margin: 0;
      }

      @media (max-width: 550px) {
        article {
          width: 375px;
        }
        img {
          width: 100%;
          height: 200px;
        }

        .img-container {
          padding: 0;
        }

        ul {
          padding: 0 20px;
          margin: 0;
        }
        li {
          margin-left: 20px;
        }
      }

      /* @media (max-width: 1440px) {
      article {
        width: 75px;
      }
      img {
        width: 100%;
      }
    } */

      @font-face {
        font-family: "Young Serif";
        font-display: swap;
        font-weight: 400;
        src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
          format("truetype");
      }
      @font-face {
        font-family: "Outfit";
        font-display: swap;
        font-weight: 400, 600, 700;
        src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
          format("truetype");
      }
    </style>
  </article>
</Layout>
